[Unit]
Description=A C++ daemon for monero and the i2p network
After=network.target

[Service]
Type=forking
Restart=on-abnormal
PIDFile=/var/lib/kovri/kovri.pid
User=kovri
Group=kovri
LimitNOFILE=4096
PermissionsStartOnly=yes
ExecStartPre=/bin/mkdir -p /run/kovri
ExecStartPre=/bin/chown kovri:kovri /run/kovri
ExecStartPre=/bin/mkdir -p /var/log/kovri
ExecStartPre=/bin/touch /var/lib/kovri/kovri.pid
ExecStartPre=/bin/chown kovri:kovri /var/lib/kovri/kovri.pid /var/log/kovri
ExecStart=/usr/bin/kovri --enable-daemon --data-dir=/var/lib/kovri --disable-console --kovriconf=/etc/kovri/kovri.conf --tunnelsconf=/etc/kovri/tunnels.conf

[Install]
WantedBy=multi-user.target

